$p-color: #046d8b; // #2fb8ac; //#cc333f;//#9d2053; //#005bc5; // //#1e6075; //#2debae;

$p-color: #5e1010;
$dark-p-color: #3C0101;
$clear-p-color: #832828;
$background: #1b1c1d;

$blue: #0E6EB8;

// Purples
$purple: #56416C;
$clear-purple: #72697E;

$bg-color: #C5CFC6;

$grey: #C5CFC6;
$clear-grey: #e0e1e2;
