<template name="login">
  <div id="login" class="row">
    <div class="ui center aligned grid">
      <div class="column">
        <div class="ui segment title">
          <h2 class="ui header">
            {{_ "log_in_to_account" }}
          </h2>
        </div>
        <form id="login-form" class="ui large form {{#if isLoading}}loading{{/if}}">
          <div class="ui stacked segment">
            <div class="message-wrapper" id="login-info"></div>
            <div class="field">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="email" class="" id="login-email" placeholder="{{_ "email_address" }}" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" class="" id="login-password" placeholder="{{_ "password" }}" />
              </div>
            </div>
            <button type="submit" class="ui button large fluid">
              {{_ "sign_in" }}
            </button>
          </div>
        </form>
        <div class="ui message">
          {{_ "new_to_us" }}
          <a href="/register">{{_ "sign_up" }}</a>
        </div>
      </div>
    </div>
  </div>
</template>
